@using Alexr03.Common.TCAdmin.Objects
@using Alexr03.Common.Web.Extensions
@using Kendo.Mvc.UI
@using TCAdmin.GameHosting.SDK.Objects
@using TCAdminCustomMods.Models.Curse
@using TCAdminCustomMods.Providers
@using TCAdminCustomMods.Configurations
@{
    var service = Service.GetSelectedService();
    var game = Game.GetSelectedGame();
    var provider = DynamicTypeBase.GetCurrent<CustomModBase>("providerId");
    var config = provider.GetConfigurationForGame(game).ToObject<CurseConfiguration>();
    var installedPlugins = provider.Create<CustomModProvider>().GetInstalledPlugins(service);
    var displayAllMods = config.CurseGame == "83374";
}

<style>
    #curseMods > .k-listview-content > .k-loading-mask {
        display: none;
    }
</style>
<script>
    function curseMods_RequestStart() {
        let parent = $("#curseMods");
        let loading = $('<div id="curseModsloading" style="position:absolute;z-index: 1;bottom: 25px;right: 40px;height: 40px; width: 40px;"></div>');
        parent.append(loading);
        kendo.ui.progress(loading, true);
    }

    function curseMods_RequestEnd() {
        $("#curseModsloading").remove();
    }

    @foreach (var d in installedPlugins)
    {
        @:installedPlugins.push("@d.Split(':')[0]");
    }
    
    function curse_change() {
        const modCardTemplate = kendo.template($("#curse-card-template").html());
        
        $("#curse-cards-container").html(kendo.render(modCardTemplate, $("#curseMods").data("kendoListView").dataSource.view()));
    }
    
    function curse_filterDs(){
        $("#curseMods").data("kendoListView").dataSource.filter([
            { field: "Name", operator: "contains", value: $("#curse_search").val() }]
        )
        $("#curseMods > .k-listview-content").animate({ scrollTop: 0 }, 500);
    }
    
    $(document).ready(function () {
        //removed because it causes 2 requests
        //curse_filterDs();
        $("#curseMods").css("height", $(window).height() - $("#curseMods").offset().top - $("#curseMods").parent().css("margin-bottom").replace("px", "") - $("#curseMods").parent().css("padding-bottom").replace("px", ""));
    })
</script>

<div class="primary-toolbar">
    @(Html.Kendo().ToolBar()
        .Name("modToolBar".Prefix("curse", "_"))
        .Items(items =>
        {
            items.Add().Type(CommandType.Spacer);
            items.Add().Template(Html.Kendo().TextBox().Name("search".Prefix("curse", "_")).Placeholder("Search").Events(ev => ev.Change("curse_filterDs")).ToHtmlString()).HtmlAttributes(new {style = "width: 300px"});
            items.Add().Type(CommandType.Button).Text("Search").Icon("search").ShowIcon(ShowIn.Both).Click("curse_filterDs");
        })
        )
</div>
@(Html.Kendo().ListView<CurseBrowser>()
    .Name("curseMods")
    .ClientTemplateId("curse-card-template")
    .TagName("div")
    .Selectable(x => x.Mode(ListViewSelectionMode.Multiple))
    .DataSource(dataSource =>
    {
        dataSource.Events(e => e.RequestStart("curseMods_RequestStart").RequestEnd("curseMods_RequestEnd"));
        dataSource.Read("GetPlugins", "CustomMods", new {id = service.ServiceId, providerId = provider.Id});
        dataSource.PageSize(15);
    })
    .HtmlAttributes(new {@class = "cards-container", style = "height: 1000px;"})
    .Scrollable(ListViewScrollableMode.Endless))

<script type="text/x-kendo-template" id="curse-card-template">
    <div class="k-card custommod-k-card" style="#=!AllowModDistribution & !@(displayAllMods.ToString().ToLower()) ?"display:none;":""#">
        <div class="k-card-header">
            <h3 class="k-card-title">#=Name#</h3>
            <h6 class="k-card-subtitle">Downloads: #=DownloadCount#</h6>
        </div>
        # if(Logo == null || Logo.ThumbnailUrl == null) { #
            <img class="k-card-image custommod-k-card-image" src="https://via.placeholder.com/278x228" alt="Image"/>
        #} else {#
            <img class="k-card-image custommod-k-card-image" src="#=Logo.ThumbnailUrl#" alt="Image"/>
        #}#
        <div class="k-card-body custommod-k-card-body">
            <p>#=Summary#</p>
        </div>
        <div class="k-card-actions k-card-actions-stretched">
            # if(!installedPlugins.includes(Id)) { #
                <span class="k-card-action" onclick="promptCurseVersion(curseDataSource, @provider.Id, '#=Id#')"><span class="k-button k-flat k-primary">Install</span></span>
            #} else {#
                <span class="k-card-action" onclick="unInstallPlugin(curseDataSource, @provider.Id, '#=Id#')"><span class="k-button k-flat k-primary">Uninstall</span></span>
            # } #
            <span class="k-card-action" onclick="window.open('#=Links.WebsiteUrl#', '_blank')"><span class="k-button k-flat k-primary">More Information</span></span>
        </div>
    </div>

</script>

<script type="text/x-kendo-template" id="cursemods-install-template">
    <style>
      .k-dialog-content > .fieldset-form > ul > li > dd {
        margin-left: 0;
      }
    </style>
    <fieldset class="fieldset-form">
    <ul>
        <li>
            <dd><input id="install-version" value="1" style="width: 100%;" /></dd>
        </li>
    </ul>
    </fieldset>
</script>

<script>
    let curseDataSource = $('#curseMods').data('kendoListView').dataSource;

    function promptCurseVersion(ds, providerId, modId){
        setTimeout(function () {
            let list = $("#curseMods").data("kendoListView");
            let selected = list.select();
            let dataitem = list.dataItem(selected)
            let dialog = $("<div id='modpack-install-dialog'></div>");
            $("body").append(dialog);

            let template = kendo.template($("#cursemods-install-template").html());
            let params = { data: dataitem };

            //Don't ask for version if ARK SA
            if (dataitem.GameId != 83374) {
                dialog.kendoDialog({
                    width: "460px",
                    title: "Install " + dataitem.Name,
                    closable: false,
                    modal: true,
                    content: template(params),
                    actions: [
                        {
                            text: 'Install', primary: true, action: function () {
                                let packid = dataitem.Id;
                                let installver = $("#install-version").data("kendoDropDownList").value();
                                if (installver == "") {
                                    TCAdmin.Ajax.ShowToaster("Select the version to install.", "error");
                                    return false;
                                }
                                installPlugin(ds, providerId, modId, installver)
                                return true;
                            }
                        },
                        { text: 'Cancel' },
                    ],
                    close: function () { this.destroy(); },
                    open: function () {
                        $("#install-version").kendoDropDownList({
                            optionLabel: "Select version to install...",
                            dataTextField: "Name",
                            dataValueField: "Id",
                            dataSource: dataitem.Versions ? dataitem.Versions.sort((a, b) => b.Id - a.Id) : dataitem.LatestFiles.filter(obj => {
                                return obj.ServerPackFileId > 0;
                            }).sort((a, b) => b.Id - a.Id),
                            valueTemplate: `<span class='k-state-default'>#:data.DisplayName#</span>`,
                            template: `<span class='k-state-default'><h3 style="margin:0">#:data.DisplayName#</h3><p style="margin:0 0 10px 0"><b>Type:</b> #:data.ReleaseType ==1? "Release": data.ReleaseType ==2? "Beta" : "Alpha" # <b>Upload Date:</b> #:new Date(parseInt((data.FileDate + "").substr(6))).toLocaleString()#</p></span>`
                        });

                        //load mod files and filter out files that can't be installed.
                        if (dataitem.GameId == @(config.CurseGame)) {
                            kendo.ui.progress($(".k-dialog-content"), true);
                            $.post("/Service/CustomMods/GetPlugins/@service.ServiceId?providerId=3", { filter: "SortBy~contains~'mod/files/'~and~Term~contains~'" + dataitem.Id + "'" })
                                .done(function (data) {
                                    kendo.ui.progress($(".k-dialog-content"), false);
                                    dataitem.LatestFiles = data.Data;
                                    let installverdd = $("#install-version").data("kendoDropDownList");
                                    installverdd.setOptions({
                                        dataTextField: "DisplayName",
                                        dataValueField: "Id",
                                        valueTemplate: `<span class='k-state-default'>#:data.DisplayName#</span>`,
                                        template: `<span class='k-state-default'><h3 style="margin:0">#:data.DisplayName#</h3><p style="margin:0 0 10px 0"><b>Type:</b> #:data.ReleaseType ==1? "Release": data.ReleaseType ==2? "Beta" : "Alpha" # <b>Upload Date:</b> #:new Date(parseInt((data.FileDate + "").substr(6))).toLocaleString()#</p></span>`,
                                        noDataTemplate: `This mod doesn't have any server files!`
                                    });
                                    installverdd.setDataSource(dataitem.LatestFiles.sort((a, b) => b.Id - a.Id))
                                    kendo.ui.progress($(".k-dialog-content"), false);
                                }).fail(function (e) {
                                    console.log(e);
                                    kendo.ui.progress($(".k-dialog-content"), false);
                                });
                        }
                    }
                });
            } else {
                installPlugin(ds, providerId, modId, 0);
                return true;
            }

        });
    }
</script>