@using Alexr03.Common.TCAdmin.Objects
@using Alexr03.Common.Web.Extensions
@using Kendo.Mvc.UI
@using TCAdmin.GameHosting.SDK.Objects
@using TCAdminCustomMods.Models.SteamWorkshop
@using TCAdminCustomMods.Providers
@using TCAdminCustomMods.Configurations

@Scripts.Render("~/Views/Default/TCAdminCustomMods.Controllers/CustomMods/bbcode.js")
@Styles.Render("~/Views/Default/TCAdminCustomMods.Controllers/CustomMods/bbcode.css")

@functions{
    public class Filter
    {
        public int Order { get; set; }
        public string Text { get; set; }
        public string Value { get; set; }
        public string Group { get; set; }
    }
}

@{
    var service = Service.GetSelectedService();
    var game = Game.GetSelectedGame();
    var provider = DynamicTypeBase.GetCurrent<CustomModBase>("providerId");
    var config = provider.GetConfigurationForGame(game).ToObject<SteamWorkshopConfiguration>();
    var installedPlugins = provider.Create<CustomModProvider>().GetInstalledPlugins(service);
    var installcount = installedPlugins.Count();
    var sortfilters = new List<Filter>();
    sortfilters.Add(new Filter()
    {
        Order = sortfilters.Count,
        Text = Resources.Game.SteamWorkshopProvider.MostPopular,
        Value = "trend"
    });
    sortfilters.Add(new Filter()
    {
        Order = sortfilters.Count,
        Text = Resources.Game.SteamWorkshopProvider.MostRecent,
        Value = "mostrecent"
    });
    sortfilters.Add(new Filter()
    {
        Order = sortfilters.Count,
        Text = Resources.Game.SteamWorkshopProvider.MostSubscribed,
        Value = "totaluniquesubscribers"
    });

    var periodfilters = new List<Filter>();
    periodfilters.Add(new Filter()
    {
        Order = periodfilters.Count,
        Text = Resources.Game.SteamWorkshopProvider.Today,
        Value = "1"
    });
    periodfilters.Add(new Filter()
    {
        Order = periodfilters.Count,
        Text = Resources.Game.SteamWorkshopProvider.OneWeek,
        Value = "7"
    });
    periodfilters.Add(new Filter()
    {
        Order = periodfilters.Count,
        Text = Resources.Game.SteamWorkshopProvider.ThreeMonths,
        Value = "90"
    });
    periodfilters.Add(new Filter()
    {
        Order = periodfilters.Count,
        Text = Resources.Game.SteamWorkshopProvider.SixMonths,
        Value = "180"
    });
    periodfilters.Add(new Filter()
    {
        Order = periodfilters.Count,
        Text = Resources.Game.SteamWorkshopProvider.OneYear,
        Value = "365"
    });
    periodfilters.Add(new Filter()
    {
        Order = periodfilters.Count,
        Text = Resources.Game.SteamWorkshopProvider.AllTime,
        Value = "-1"
    });

    var contentfilters = new List<Filter>();
    contentfilters.Add(new Filter()
    {
        Order = sortfilters.Count,
        Text = Resources.Game.SteamWorkshopProvider.AllContent,
        Value = "all"
    });
    contentfilters.Add(new Filter()
    {
        Order = sortfilters.Count,
        Text = Resources.Game.SteamWorkshopProvider.InstalledContent,
        Value = "installed"
    });
    contentfilters.Add(new Filter()
    {
        Order = sortfilters.Count,
        Text = Resources.Game.SteamWorkshopProvider.UpdatableContent,
        Value = "updatable"
    });

    var selectedcontent = 0;
    if (!string.IsNullOrEmpty(Request.QueryString["content"]))
    {
        if (Request.QueryString["content"] == "installed")
        {
            selectedcontent = 1;
        }
        if (Request.QueryString["content"] == "updatable")
        {
            selectedcontent = 2;
        }
    }
}
<style>
    .k-card-header .k-card-title, .k-card-header .k-card-subtitle {
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #workshopMods .custommod-k-card {
        min-height: 500px;
    }

    #workshopMods .k-card-header {
        padding: 0.4em;
        min-height: 50px;
    }

    #workshopMods .custommod-k-card-body {
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0px;
        padding: 0;
    }

    #workshopMods .k-card-subtitle {
        margin-top: 0.2rem;
        margin-bottom: 0px;
        opacity: 1;
    }

    #workshopMods .k-rating-item {
        padding: 0rem 0rem;
        margin-bottom: 4px;
    }

    #workshopMods .k-rating-container {
        margin: 0px;
        white-space: nowrap;
    }

        #workshopMods .k-rating-container .k-rating-item .k-icon {
            font-size: 1.1rem;
            color: @(TCAdmin.SDK.Web.MVC.Template.GetTemplateSetting("MVC.Primary.Background.Color"));
        }

    #workshopMods > .k-listview-content > .k-loading-mask {
        display: none;
    }

    .update-link {
        bottom: 0;
        left: 0;
        right: 0;
        line-height: 50px;
        position: absolute;
        background-color: limegreen;
        text-align: center;
        opacity: 0.95;
    }

        .update-link:hover {
            font-weight: bold;
        }

        .update-link > span {
            opacity: 1;
            color: white;
        }

@if (!config.ShowDescription) {
        <text>
        #workshopMods .k-card-body > p, #workshopMods .k-card-body > div
        {
            display: none !important;
        }
        </text>
}
@if (!config.ShowAuthorAndRating) {
        <text>
        #workshopMods .k-card-subtitle {
            display: none !important;
        }
        #workshopMods .k-card-header {
            min-height: 25px;
        }
        </text>
}

@if (!config.ShowDescription | !config.ShowAuthorAndRating) {
        <text>
        #workshopMods .custommod-k-card {
            min-height: auto !important;
        }
        </text>
}
</style>
<script>
    function workshop_Data() {
        return {
            browsesort: $("#sortBy").val(),
            days: $("#timePeriod").val(),
            content: $("#contentType").val(),
            searchtext: $("#workshop_search").data("kendoTextBox").value(),
            section: $("#workshop_collections")[0].checked ? "collections" :"readytouseitems"
        };
    }

    function workshop_RequestStart() {
        let listview = $("#workshopMods").data("kendoListView");
        let parent = $("#workshopMods");
        let loading = $('<div id="workshoploading" style="position:absolute;z-index: 1;bottom: 30px;right: 45px;height: 40px; width: 40px;"></div>');
        parent.append(loading);
        kendo.ui.progress(loading, true);
    }

    function workshop_RequestEnd() {
        $("#workshoploading").remove();
    }

    function workshop_filterDs_DropDownList() {
        switch ($("#contentType").val()) {
            case "all":
                $("#sortByContainer").parent().show();
                $("#timePeriodContainer").parent().show();
                $("#workshop_search").parent().parent().show();
                $("#workshop_batchActions").parent().hide();
                $("#workshop_batchActions_wrapper").addClass("k-state-hidden k-hidden");
                break;
            case "installed":
            case "updatable":
                $("#sortByContainer").parent().hide();
                $("#timePeriodContainer").parent().hide();
                $("#workshop_search").parent().parent().hide();
                $("#workshop_batchActions").parent().show();
                $("#workshop_batchActions_wrapper").find(".k-split-button-arrow").css("height", "38px");
                $("#workshop_batchActions_wrapper").removeClass("k-state-hidden k-hidden");
                break;
            default:
        }

        $("#workshop_modToolBar").data("kendoToolBar").resize(true);
        workshop_filterDs();
    }

    function workshop_filterDs_Search() {
        workshop_filterDs();
    }

    function workshop_filterDs_SearchKey(e) {
        let key = e.keyCode || e.which;
        if (key == 13) {
            $("#workshop_search").data("kendoTextBox").value($("#workshop_search").val());
            workshop_filterDs_Search();
        }
    }

    function workshop_filterDs() {
        //change ds to set page back to 1 without double request.
        let listview = $("#workshopMods").data("kendoListView");
        let oldds = listview.dataSource;
        let options = oldds.options;
        options.filter = [
            { field: "SortBy", operator: "contains", value: $("#sortBy").val() },
            { field: "Term", operator: "contains", value: $("#workshop_search").data("kendoTextBox").value() }];
        let newds = new kendo.data.DataSource(options);
        listview.setDataSource(newds);

        $("#workshopMods > .k-listview-content").animate({ scrollTop: 0 }, 200);
    }

    $(document).ready(function () {
        switch ($("#contentType").val()) {
            case "all":
                $("#sortByContainer").parent().show();
                $("#timePeriodContainer").parent().show();
                $("#workshop_search").parent().parent().show();
                $("#workshop_batchActions").parent().hide();
                $("#workshop_batchActions_wrapper").addClass("k-state-hidden k-hidden");
                break;
            case "installed":
            case "updatable":
                $("#sortByContainer").parent().hide();
                $("#timePeriodContainer").parent().hide();
                $("#workshop_search").parent().parent().hide();
                $("#workshop_batchActions_wrapper").removeClass("k-state-hidden k-hidden");
                break;
            default:
        }

        //removed because it causes 2 requests
        //workshop_filterDs();
        $("#workshopMods").css("height", $(window).height() - $("#workshopMods").offset().top - $("#workshopMods").parent().css("margin-bottom").replace("px", "") - $("#workshopMods").parent().css("padding-bottom").replace("px", ""));

        $("#workshop_collections").click(function () {
            workshop_filterDs();
        });

        $("#workshop_batchActions").click(function () {
            $("#workshop_batchActions").next().click();
        });

        $("#workshop_updateAll").click(function () {
            kendo.ui.progress($("#workshopMods"), true);
            $.post("/Service/CustomMods/InstallPluginWithTask/@service.ServiceId", { providerId: @(provider.Id), modId: "{0}:{1}".format($("#workshop_collections")[0].checked ? "collections" : "readytouseitems", 0), batchAction: "update", content: $("#contentType").val(), redirect: window.location.href})
                .done(function (data) {
                    kendo.ui.progress($("#workshopMods"), false);
                    if (data.Status == "success") {
                        TCAdmin.Ajax.ShowTaskDialog("/TaskStatusPopup?taskid=" + data.TaskId);
                        dialog.data("kendoDialog").close();
                    } else {
                        TCAdmin.Ajax.ShowToaster(data.Message, "error");
                    }
                }).fail(function (e) {
                    kendo.ui.progress($("#workshopMods"), false);
                    console.log(e);
                });
        })
        $("#workshop_reinstallAll").click(function () {
            kendo.ui.progress($("#workshopMods"), true);
            $.post("/Service/CustomMods/InstallPluginWithTask/@service.ServiceId", { providerId: @(provider.Id), modId: "{0}:{1}".format($("#workshop_collections")[0].checked ? "collections" : "readytouseitems", 0), batchAction: "reinstall", content: $("#contentType").val(), redirect: window.location.href})
                .done(function (data) {
                    kendo.ui.progress($("#workshopMods"), false);
                    if (data.Status == "success") {
                        TCAdmin.Ajax.ShowTaskDialog("/TaskStatusPopup?taskid=" + data.TaskId);
                        dialog.data("kendoDialog").close();
                    } else {
                        TCAdmin.Ajax.ShowToaster(data.Message, "error");
                    }
                }).fail(function (e) {
                    kendo.ui.progress($("#workshopMods"), false);
                    console.log(e);
                });
        })
        $("#workshop_uninstallAll").click(function () {
            kendo.ui.progress($("#workshopMods"), true);
            $.post("/Service/CustomMods/UninstallPluginWithTask/@service.ServiceId", { providerId: @(provider.Id), modId: "{0}:{1}".format($("#workshop_collections")[0].checked ? "collections" : "readytouseitems", 0), batchAction: "uninstall", content: $("#contentType").val(), redirect: window.location.href})
                .done(function (data) {
                    kendo.ui.progress($("#workshopMods"), false);
                    if (data.Status == "success") {
                        TCAdmin.Ajax.ShowTaskDialog("/TaskStatusPopup?taskid=" + data.TaskId);
                        dialog.data("kendoDialog").close();
                    } else {
                        TCAdmin.Ajax.ShowToaster(data.Message, "error");
                    }
                }).fail(function (e) {
                    kendo.ui.progress($("#workshopMods"), false);
                    console.log(e);
                });
            //kendo.ui.progress($("#workshopMods"), true);
            //alert("uninstall all " + $("#contentType").val());
            //kendo.ui.progress($("#workshopMods"), false);
        })
    })
</script>
<div class="primary-toolbar">
    @(Html.Kendo().ToolBar()
        .Name("modToolBar".Prefix("workshop", "_"))
        .Resizable(false)
        .Items(items =>
        {
            items.Add().Template(Html.Kendo().CheckBox().Name("workshop_collections").Label(Resources.Game.SteamWorkshopProvider.Collections).ToHtmlString());
            items.Add().Template(string.Format("<span id='sortByContainer'>{0} ", Resources.Game.SteamWorkshopProvider.SortBy) + Html.Kendo().DropDownList()
                .Name("sortBy")
                .DataTextField("Text")
                .DataValueField("Value")
                .BindTo(sortfilters)
                .DataSource(ds=>ds.Custom())
                .SelectedIndex(0).HtmlAttributes(new { style = "width: 150px" })
                .Events(ev => ev.Change("workshop_filterDs_DropDownList")).ToHtmlString() + "</span>");
            items.Add().Template(string.Format("<span id='timePeriodContainer'>{0} ", Resources.Game.SteamWorkshopProvider.OverTimePeriod) + Html.Kendo().DropDownList()
                .Name("timePeriod")
                .DataTextField("Text")
                .DataValueField("Value")
                .BindTo(periodfilters)
                .DataSource(ds => ds.Custom())
                .SelectedIndex(1).HtmlAttributes(new { style = "width: 150px" })
                .Events(ev => ev.Change("workshop_filterDs_DropDownList")).ToHtmlString() + "</span>");
            items.Add().Template(string.Format("<span>{0} ", Resources.Game.SteamWorkshopProvider.ContentType) + Html.Kendo().DropDownList()
                .Name("contentType")
                .DataTextField("Text")
                .DataValueField("Value")
                .BindTo(contentfilters)
                .DataSource(ds => ds.Custom())
                .SelectedIndex(selectedcontent).HtmlAttributes(new { style = "width: 175px" })
                .Events(ev => ev.Change("workshop_filterDs_DropDownList")).ToHtmlString() + "</span>");
            items.Add().Template(Html.Kendo().TextBox().Name("search".Prefix("workshop", "_")).Placeholder(Resources.Game.SteamWorkshopProvider.Search).Events(ev => ev.Change("workshop_filterDs_Search")).HtmlAttributes(new { onkeypress = "workshop_filterDs_SearchKey(event);" }).ToHtmlString());
            items.Add().Type(CommandType.SplitButton).Text(Resources.Game.SteamWorkshopProvider.BatchActions).Hidden(selectedcontent == 0).Id("workshop_batchActions").MenuButtons(menuButtons =>
            {
                menuButtons.Add().Text(Resources.Game.SteamWorkshopProvider.UpdateAll).Icon("download").Id("workshop_updateAll");
                menuButtons.Add().Text(Resources.Game.SteamWorkshopProvider.ReinstallAll).Icon("reload").Id("workshop_reinstallAll");
                menuButtons.Add().Text(Resources.Game.SteamWorkshopProvider.UninstallAll).Icon("trash").Id("workshop_uninstallAll");
            });
        })
        )
</div>
@(Html.Kendo().ListView<SteamWorkshopFile>()
    .Name("workshopMods")
    .ClientTemplateId("workshop-card-template")
    .TagName("div")
    .Selectable(x => x.Mode(ListViewSelectionMode.Single))
    .DataSource(dataSource =>
    {
        dataSource.Events(e => e.RequestStart("workshop_RequestStart").RequestEnd("workshop_RequestEnd"));
        dataSource.Read(r => r.Data("workshop_Data").Action("GetPlugins", "CustomMods", new { id = service.ServiceId, providerId = provider.Id }));
        dataSource.PageSize(30);
    })
    .HtmlAttributes(new {@class = "cards-container", style = "height: 1000px;"})
    .Scrollable(ListViewScrollableMode.Endless))

<script type="text/x-kendo-template" id="workshop-card-template">
    <div class="k-card custommod-k-card">
        <div class="k-card-header">
            <h4 class="k-card-title" title="#=Title#">#=Title#</h4>
            <h6 class="k-card-subtitle">
            # if(Author) { # @(Html.Raw(Resources.Game.SteamWorkshopProvider.By)) #=Author# # } #
            # if(RatingImage) { #
                # if(RatingImage.indexOf("not-yet") > 0) { #
                    <span class="k-rating-container"><span class="k-rating-item" data-value="1" title="1"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="2" title="2"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="3" title="3"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="4" title="4"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="5" title="5"><span class="k-icon k-i-star-outline"></span></span></span>
                # } #
                # if(RatingImage.indexOf("0-star") > 0) { #
                    <span class="k-rating-container"><span class="k-rating-item" data-value="1" title="1"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="2" title="2"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="3" title="3"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="4" title="4"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="5" title="5"><span class="k-icon k-i-star-outline"></span></span></span>
                # } #
                # if(RatingImage.indexOf("1-star") > 0) { #
                    <span class="k-rating-container"><span class="k-rating-item k-selected" data-value="1" title="1"><span class="k-icon k-i-star"></span></span><span class="k-rating-item" data-value="2" title="2"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="3" title="3"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="4" title="4"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="5" title="5"><span class="k-icon k-i-star-outline"></span></span></span>
                # } #
                # if(RatingImage.indexOf("2-star") > 0) { #
                    <span class="k-rating-container"><span class="k-rating-item k-selected" data-value="1" title="1"><span class="k-icon k-i-star"></span></span><span class="k-rating-item k-selected" data-value="2" title="2"><span class="k-icon k-i-star"></span></span><span class="k-rating-item" data-value="3" title="3"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="4" title="4"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="5" title="5"><span class="k-icon k-i-star-outline"></span></span></span>
                # } #
                # if(RatingImage.indexOf("3-star") > 0) { #
                    <span class="k-rating-container"><span class="k-rating-item k-selected" data-value="1" title="1"><span class="k-icon k-i-star"></span></span><span class="k-rating-item k-selected" data-value="2" title="2"><span class="k-icon k-i-star"></span></span><span class="k-rating-item k-selected" data-value="3" title="3"><span class="k-icon k-i-star"></span></span><span class="k-rating-item" data-value="4" title="4"><span class="k-icon k-i-star-outline"></span></span><span class="k-rating-item" data-value="5" title="5"><span class="k-icon k-i-star-outline"></span></span></span>
                # } #
                # if(RatingImage.indexOf("4-star") > 0) { #
                    <span class="k-rating-container"><span class="k-rating-item k-selected" data-value="1" title="1"><span class="k-icon k-i-star"></span></span><span class="k-rating-item k-selected" data-value="2" title="2"><span class="k-icon k-i-star"></span></span><span class="k-rating-item k-selected" data-value="3" title="3"><span class="k-icon k-i-star"></span></span><span class="k-rating-item k-selected" data-value="4" title="4"><span class="k-icon k-i-star"></span></span><span class="k-rating-item" data-value="5" title="5"><span class="k-icon k-i-star-outline"></span></span></span>
                # } #
                # if(RatingImage.indexOf("5-star") > 0) { #
                    <span class="k-rating-container"><span class="k-rating-item k-selected" data-value="1" title="1"><span class="k-icon k-i-star"></span></span><span class="k-rating-item k-selected" data-value="2" title="2"><span class="k-icon k-i-star"></span></span><span class="k-rating-item k-selected" data-value="3" title="3"><span class="k-icon k-i-star"></span></span><span class="k-rating-item k-selected" data-value="4" title="4"><span class="k-icon k-i-star"></span></span><span class="k-rating-item k-selected" data-value="5" title="5"><span class="k-icon k-i-star"></span></span></span>
                # } #
            # } #
            </h6>
        </div>
        <div style="position:relative;">
        # if(UpdateAvailable) { #
        <a class="update-link" href="javascript:" onclick="installWorkshopFile(workshopDataSource, @(provider.Id), '#=FileId#', true)"><span>Update</span></a>
        # } #
        <img class="k-card-image custommod-k-card-image" src="#=PreviewImage#" alt="Image"/>
        </div>
        <div class="k-card-body custommod-k-card-body">
            <p>#=XBBCODE.process({
      text: ExtendedInfo.Description?ExtendedInfo.Description:"@Html.Raw(Resources.Game.SteamWorkshopProvider.NoDescriptionAvailable)",
      removeMisalignedTags: true,
      addInLineBreaks: true
    }).html #</p>
        </div>
        <div class="k-card-actions k-card-actions-stretched">
            # if(!Installed) { #
                <span class="k-card-action" onclick="installWorkshopFile(workshopDataSource, @(provider.Id), '#=FileId#', false)"><span class="k-button k-flat k-primary">@Html.Raw(Resources.Game.SteamWorkshopProvider.Install)</span></span>
            #} else {#
                <span class="k-card-action" onclick="uninstallWorkshopFile(workshopDataSource, @(provider.Id), '#=FileId#')"><span class="k-button k-flat k-primary">@Html.Raw(Resources.Game.SteamWorkshopProvider.Uninstall)</span></span>
            # } #
            <span class="k-card-action" onclick="window.open('#=Url#', '_blank')"><span class="k-button k-flat k-primary">@Html.Raw(Resources.Game.SteamWorkshopProvider.MoreInformation)</span></span>
        </div>
    </div>
</script>
<script>
    let workshopDataSource = $('#workshopMods').data('kendoListView').dataSource;

    function installWorkshopFile(dataSource, providerId, fileId, update) {
        kendo.ui.progress($("#workshopMods"), true);
        $.post("/Service/CustomMods/InstallPluginWithTask/@service.ServiceId", { providerId: providerId, modId: "{0}:{1}".format($("#workshop_collections")[0].checked ? "collections" : "readytouseitems", fileId), update: update, redirect: window.location.href})
            .done(function (data) {
                kendo.ui.progress($("#workshopMods"), false);
                if (data.Status == "success") {
                    if (data.TaskId > 0) {
                        TCAdmin.Ajax.ShowTaskDialog("/TaskStatusPopup?taskid=" + data.TaskId);
                    } else {
                        TCAdmin.Ajax.ShowToaster("Invalid task id.", "error");
                    }
                    dialog.data("kendoDialog").close();
                } else {
                    TCAdmin.Ajax.ShowToaster(data.Message, "error");
                }
            }).fail(function (e) {
                kendo.ui.progress($("#workshopMods"), false);
                console.log(e);
            });
    }

    function uninstallWorkshopFile(dataSource, providerId, fileId) {
        kendo.ui.progress($("#workshopMods"), true);
        $.post("/Service/CustomMods/UninstallPluginWithTask/@service.ServiceId", { providerId: providerId, modId: "{0}:{1}".format($("#workshop_collections")[0].checked ? "collections" : "readytouseitems", fileId), redirect: window.location.href})
            .done(function (data) {
                kendo.ui.progress($("#workshopMods"), false);
                if (data.Status == "success") {
                    TCAdmin.Ajax.ShowTaskDialog("/TaskStatusPopup?taskid=" + data.TaskId);
                    dialog.data("kendoDialog").close();
                } else {
                    TCAdmin.Ajax.ShowToaster(data.Message, "error");
                }
            }).fail(function (e) {
                kendo.ui.progress($("#workshopMods"), false);
                console.log(e);
            });
    }
</script>