@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Alexr03.Common.TCAdmin.Objects
@using Alexr03.Common.Web.Extensions
@using Kendo.Mvc.UI
@using TCAdmin.SDK.Web.MVC.Extensions
@using TCAdminCustomMods.Configurations
@using TCAdminCustomMods.Providers
@model TCAdminCustomMods.Configurations.GeneralConfiguration

@using (Ajax.BeginForm(new AjaxOptions {OnSuccess = "Alexr03.Common.HandleAjaxSuccess", OnBegin = "Alexr03.Common.HandleAjaxBegin", OnFailure = "Alexr03.Common.HandleAjaxFailure"}))
{
    @Html.AntiForgeryToken()
    <div class="primary-toolbar">
        @(Html.Kendo().ToolBar()
            .Name("toolbar".Prefix(typeof(GeneralConfiguration)))
            .Items(items =>
            {
                items.Add().Template(this.GetToolbarButton(Resources.Global.Save, "save"));
                items.Add().Type(CommandType.Button).Icon("cancel").Text(Resources.Global.Cancel).Click("TCAdmin.Ajax.CancelClicked");
            }))
    </div>
    <div class="primary-content">
        @Html.ValidationSummary(true)
        @Html.Hidden("providerId", -1)
        <div class="row">
            <div class="col-3">
                <h4>General Settings</h4>
                @Html.LabelFor(m => m.CustomName):
                @Html.Kendo().TextBoxFor(m => m.CustomName)
            </div>
        </div>
    </div>
}

<style>
    .flex-container {
      display: flex;
      flex-wrap: nowrap;
    }
    
    .flex-container > div {
      margin: 10px;
    }
</style>